@import "variables.scss";
@import "mixins.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
}

body,
html,
#wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: $black;
}

a {
	text-decoration: none;
	@include animation(0.3s, ease-in-out, );
}

ul,
li {
	list-style-type: none;
}

.container {
	width: 1280px;
	max-width: 90%;
	margin: 0 auto;
}

h1 {
	@include font(72px, 600, 86px, $white);
}

h2 {
	@include font(48px, 700, 72px, $white);
}

h3 {
	@include font(32px, 600, 56px, $white);
}

h4 {
	@include font(18px, 600, 30px, $white);
}

p {
	@include font(16px, 500, 28px, $grey);
}

button {
	width: 220px;
	height: 56px;
	border-radius: 16px;
	padding: 0;
	border: none;
	color: inherit;
	background-color: transparent;
	@include font(16px, 500, 28px, $white);
	@include animation(0.3s, ease-in-out, );
}

