@import "variables.scss";

.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    .hero__text {
        .hero__title {
        }

        .hero__desc {
            padding-top: $indents * 5;
        }

        .hero__buttons {
            padding-top: $indents * 14;

            .hero__first-item {
                width: 190px;
                background-color: $yellow;
                z-index: 3;

                &:hover {
                    background-color: lighten($color: $yellow, $amount: 10);
                }
            }
            .hero__second-item {
                border: 1px solid $white;
                margin-left: $indents * 2;

                i {
                    margin: $indents;
                }

                &:hover {
                    color: $black;
                    background-color: $white;
                }
            }
        }
    }

    .hero__img {
        width: 65%;
    }
}
