@import "mixins.scss";
@import "variables.scss";

// HERO BLOCK STYLE
.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    .hero__text {
        .hero__desc {
            padding-top: $indents * 5;
        }

        .hero__buttons {
            padding-top: $indents * 14;

            .hero__first-item {
                width: 190px;
                background-color: $yellow;

                &:hover {
                    background-color: lighten($color: $yellow, $amount: 10);
                }
            }
            .hero__second-item {
                border: 1px solid $white;
                margin-left: $indents * 2;

                i {
                    margin: $indents;
                }

                &:hover {
                    color: $black;
                    background-color: $white;
                }
            }
        }
    }

    .hero__img {
        width: 65%;
    }
}

// ABOUT BLOCK STYLE
.about {
    display: flex;
    background-color: #2c353d;
    border-radius: $indents * 6;

    .about__text {
        margin: $indents * 18 $indents * 25 $indents * 18 $indents * 25;

        .about__title {
            margin-top: $indents * 5;
        }

        .about__desc {
            margin-top: $indents * 5;
        }

        .about__button {
            width: 60%;
            margin-top: $indents * 10;
            border: 1px solid $white;

            &:hover {
                color: $black;
                background-color: $white;
            }
        }
    }
    .about__text:last-child {
        margin: $indents * 18 $indents * 25 $indents * 18 0px;
        padding-left: $indents * 25;
        border-left: 4px solid #333e49;
    }
}

// MOTTO BLOCK STYLE
.motto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $indents * 25;

    // .motto__img {
    //     img {

    //     }
    // }

    .motto__text {
        padding-left: $indents * 25;

        .motto__title {
            h2 {
                span {
                    color: $yellow;
                }
            }
        }
        .motto__desc {
            margin-top: $indents * 8;
        }
    }
}

// OFFER BLOCK STYLE
#offer {
    background: $light-black;
    padding: $indents * 5 $indents * 0;
    .offer {
        text-align: center;

        .offer__text {
            max-width: 500px;
            margin: 0 auto;

            .offer__title {
                margin-top: $indents * 10;
            }

            .offer__disc {
                margin-top: $indents * 5;
            }
        }

        .offer__blockchain {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: $indents * 5;
            grid-row-gap: $indents * 5;
            margin-top: $indents * 20;

            .offer__blockchain-img {
                height: 240px;
                background: $black;
                border-radius: $indents * 5;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

// LEARN BLOCK STYLE
.learn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $indents * 20;

    img {
        width: 50%;
    }

    .learn__text {
        max-width: 450px;
        margin-left: auto;

        .learn__post-title {
            margin-top: $indents * 5;
        }

        .learn__disc {
            margin-top: $indents * 8;
        }
    }
}

// PLAY BLOCK STYLE
.platform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .platform__text {
        max-width: 450px;

        .platform__desc {
            margin-top: $indents * 6;
        }
    }
    .platform__img {
        margin-left: auto;
    }

    .platform__benefits {
        .platform__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: $indents * 5;
            grid-row-gap: $indents * 5;
            margin-top: $indents * 12;

            .platform__item {
                padding: $indents * 10;
                background: linear-gradient(
                    45deg,
                    rgba(44, 53, 61, 1),
                    rgba(174, 128, 220, 0.1),
                    rgba(174, 128, 220, 0.2)
                );
                border-radius: $indents * 5;

                .platform__item-desc {
                    margin-top: $indents * 5;
                }
            }
        }
    }
}

// TOKENS BLOCK STYLE
#tokens {
    width: 100%;
    background: $light-black;
    padding-top: $indents * 20;
    padding-bottom: $indents * 20;
    margin-top: $indents * 20;

    .tokens {
        text-align: center;

        .tokens__text {
            .tokens__desc {
                margin-top: $indents * 5;
            }
        }
        .tokens__elements {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: $indents * 8;
            grid-row-gap: $indents * 8;
            margin-top: $indents * 40;

            .tokens__item {
                padding: $indents;
                background-color: $black;
                padding: 0 $indents * 10 $indents * 10 $indents * 10;

                .tokens__item-img {
                    position: relative;
                    top: -36px;
                }
                .tokens__item-title {
                }
            }
        }
        .tokens__notification {
            display: flex;
            max-width: 90%;
            background-color: #f7a5010d;
            border: 1px solid #f7a501;
            border-radius: 10px;
            padding: $indents * 10;
            margin: $indents * 20 auto 0 auto;

            .tokens__notification-text {
                span {
                    color: $yellow;
                }
            }
        }
    }
}

// LURE BLOCK STYLE

#lure {
    width: 100%;
    margin: $indents * 20 auto;
    
    .lure {
        background: linear-gradient(45deg, rgba(44, 53, 61, 1), rgba(174, 128, 220, 0.1), rgba(174, 128, 220, 0.2));
        border-radius: $indents * 5;
        padding: $indents * 16;
        text-align: center;

        .lure__desc {
            margin-top: $indents * 3;
        }
        .lure__button {
            width: 190px;
            height: 70px;
            font-weight: 700;

            background-color: $white;
            color: $black;
            margin-top: $indents * 10;

            &:hover {
                width: 200px;
                font-size: 105%;
            }
        }
    }
}
