@import "mixins.scss";
@import "variables.scss";

// HERO BLOCK STYLE
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;

    @media only screen and (max-width: $bp-1200px) {
        text-align: center;
        padding-top: 20%;
        flex-wrap: wrap;
    }

    .hero__text {
        .hero__title {
            @media only screen and (max-width: $bp-480px) {
                margin-top: 10%;
                font-size: 48px;
                line-height: normal;
            }
        }

        .hero__desc {
            padding-top: $indents * 5;
        }

        .hero__buttons {
            padding-top: $indents * 14;

            .hero__first-item {
                width: 190px;
                background-color: $yellow;
                margin-right: $indents * 2;
                @media only screen and (max-width: $bp-1200px) {
                    width: 40%;
                    margin-top: $indents * 2;
                }
                @media only screen and (max-width: $bp-768px) {
                    width: 80%;
                }

                &:hover {
                    background-color: lighten($color: $yellow, $amount: 10);
                }
            }
            .hero__second-item {
                border: 1px solid $white;

                i {
                    margin: $indents;
                }

                &:hover {
                    color: $black;
                    background-color: $white;
                }

                @media only screen and (max-width: $bp-1200px) {
                    width: 40%;
                    margin-top: $indents * 2;
                }
                @media only screen and (max-width: $bp-768px) {
                    width: 80%;
                }
            }
        }
    }

    .hero__img {
        width: 65%;

        img {
            width: 100%;
        }
        @media only screen and (max-width: $bp-1200px) {
            width: 100%;
            margin-top: $indents * 2;
            img {
                width: 100%;
            }
        }
    }
}

// ABOUT BLOCK STYLE
.about {
    display: flex;
    background-color: #2c353d;
    border-radius: $indents * 6;

    @media only screen and (max-width: $bp-1200px) {
        flex-wrap: wrap;
    }

    .about__text {
        margin: $indents * 18 $indents * 25 $indents * 18 $indents * 25;

        @media only screen and (max-width: $bp-1200px) {
            margin: $indents * 6 $indents * 8 $indents * 6 $indents * 8;
        }
        .about__img {
            width: 100px;
            height: 100px;
        }

        .about__title {
            margin-top: $indents * 5;
        }

        .about__desc {
            margin-top: $indents * 5;
        }

        .about__button {
            margin-top: $indents * 10;
            border: 1px solid $white;

            @media only screen and (max-width: $bp-1200px) {
                width: 60%;
            }
            @media only screen and (max-width: $bp-480px) {
                width: 100%;
            }

            &:hover {
                color: $black;
                background-color: $white;
            }
        }
    }
    .about__text:last-child {
        margin: $indents * 18 $indents * 25 $indents * 18 $indents * 25;
        padding-left: $indents * 25;
        border-left: 4px solid #333e49;

        @media only screen and (max-width: $bp-1200px) {
            margin: $indents * 6 $indents * 8 $indents * 6 $indents * 8;
            padding: 0;
            border: none;
        }
    }
}

// MOTTO BLOCK STYLE
.motto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;

    @media only screen and (max-width: $bp-1200px) {
        flex-wrap: wrap-reverse;
    }

    .motto__img {
        width: 300%;

        img {
            width: 110%;
        }
        @media only screen and (max-width: $bp-1200px) {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .motto__text {
        padding-left: $indents * 25;

        @media only screen and (max-width: $bp-1200px) {
            padding: 0;
        }
        .motto__title {
            h2 {
                @media only screen and (max-width: $bp-768px) {
                    font-size: 36px;
                    line-height: normal;
                    padding: 0;
                }

                @media only screen and (max-width: $bp-480px) {
                    font-size: 28px;
                }

                span {
                    color: $yellow;
                }
            }
        }
        .motto__desc {
            margin-top: $indents * 8;
        }
    }
}

// OFFER BLOCK STYLE
#offer {
    background: $light-black;
    padding: $indents * 5 $indents * 0;
    .offer {
        text-align: center;

        .offer__text {
            max-width: 500px;
            margin: 0 auto;

            .offer__title {
                margin-top: $indents * 10;

                @media only screen and (max-width: $bp-480px) {
                    font-size: 32px;
                    line-height: normal;
                }
            }

            .offer__disc {
                margin-top: $indents * 5;
            }
        }

        .offer__blockchain {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: $indents * 5;
            grid-row-gap: $indents * 5;
            margin-top: $indents * 20;

            @media only screen and (max-width: $bp-1200px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
            }

            @media only screen and (max-width: $bp-768px) {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(8, 1fr);
            }

            .offer__blockchain-img {
                width: 100%;
                height: 240px;
                background: $black;
                border-radius: $indents * 5;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

// LEARN BLOCK STYLE
.learn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $indents * 20;

    img {
        width: 50%;
    }

    @media only screen and (max-width: $bp-1200px) {
        flex-wrap: wrap-reverse;

        img {
            width: 100%;
        }
    }

    .learn__text {
        max-width: 450px;
        margin-left: auto;

        @media only screen and (max-width: $bp-1200px) {
            width: 100%;
            max-width: 100%;
            margin: 0;
        }

        .learn__post-title {
            margin-top: $indents * 5;
        }

        .learn__disc {
            margin-top: $indents * 8;
        }
    }
}

// PLAY BLOCK STYLE
.platform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .platform__text {
        max-width: 420px;

        @media only screen and (max-width: $bp-992px) {
            width: 100%;
            max-width: 100%;
            text-align: center;
            margin-top: 10%;
            
            .platform__title {
                font-size: 32px;
                line-height: normal;
            }
        }

        .platform__desc {
            margin-top: $indents * 6;
        }
    }
    .platform__img {
        margin-left: auto;
        width: 50%;

        @media only screen and (max-width: $bp-992px) {
            margin: 0;
            width: 100%;
        }

        img {
            width: 100%;
        }
    }

    .platform__benefits {
        .platform__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: $indents * 5;
            grid-row-gap: $indents * 5;
            margin-top: $indents * 12;

            @media only screen and (max-width: $bp-768px) {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: $indents * 5;
                grid-row-gap: $indents * 5;
                margin-top: $indents * 12;
            }

            .platform__item {
                padding: $indents * 10;
                background: linear-gradient(
                    45deg,
                    rgba(44, 53, 61, 1),
                    rgba(174, 128, 220, 0.1),
                    rgba(174, 128, 220, 0.2)
                );
                border-radius: $indents * 5;

                .platform__item-desc {
                    margin-top: $indents * 5;
                }
            }
        }
    }
}

// TOKENS BLOCK STYLE
#tokens {
    width: 100%;
    background: $light-black;
    padding-top: $indents * 20;
    padding-bottom: $indents * 20;
    margin-top: $indents * 20;

    .tokens {
        text-align: center;

        .tokens__text {
            .tokens__title {
                @media only screen and (max-width: $bp-480px) {
                    font-size: 32px;
                    line-height: normal;
                }
            }
            .tokens__desc {
                margin-top: $indents * 5;
            }
        }
        .tokens__elements {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: $indents * 8;
            grid-row-gap: $indents * 8;
            margin-top: $indents * 40;

            @media only screen and (max-width: $bp-992px) {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
            }

            .tokens__item {
                padding: $indents;
                background-color: $black;
                padding: 0 $indents * 10 $indents * 10 $indents * 10;

                .tokens__item-img {
                    position: relative;
                    top: -36px;
                    width: 120px;
                    height: 120px;
                }
            }
        }
        .tokens__notification {
            display: flex;
            max-width: 90%;
            background-color: #f7a5010d;
            border: 1px solid #f7a501;
            border-radius: 10px;
            padding: $indents * 10;
            margin: $indents * 20 auto 0 auto;

            @media only screen and (max-width: $bp-480px) {
                padding: $indents * 5;
            }

            .tokens__notification-text {
                @media only screen and (max-width: $bp-480px) {
                    font-size: 16px;
                    line-height: normal;
                }
                span {
                    color: $yellow;
                }
            }
        }
    }
}

// LURE BLOCK STYLE

#lure {
    width: 100%;
    margin: $indents * 20 auto;

    .lure {
        background: linear-gradient(45deg, rgba(44, 53, 61, 1), rgba(174, 128, 220, 0.1), rgba(174, 128, 220, 0.2));
        border-radius: $indents * 5;
        padding: $indents * 16;
        text-align: center;
        @media only screen and (max-width: $bp-480px) {
            padding: $indents * 8;
        }
        .lure__title {
            @media only screen and (max-width: $bp-480px) {
                font-size: 24px;
                line-height: normal;
            }
        }

        .lure__desc {
            margin-top: $indents * 3;
        }
        .lure__button {
            width: 190px;
            height: 70px;
            font-weight: 700;

            background-color: $white;
            color: $black;
            margin-top: $indents * 10;

            &:hover {
                width: 200px;
                font-size: 105%;
            }
        }
    }
}
