@import "variables.scss";

#offer {
    background: $light-black;
    padding: $indents * 5 $indents * 0;
    .offer {
        text-align: center;

        .offer__text {
            max-width: 500px;
            margin: 0 auto;

            .offer__title {
                margin-top: $indents * 10;
            }

            .offer__disc {
                margin-top: $indents * 5;
            }
        }

        .offer__blockchain {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: $indents * 5;
            grid-row-gap: $indents * 5;
            margin-top: $indents * 20;

            .offer__blockchain-img {
                height: 240px;
                background: $black;
                border-radius: $indents * 5;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
