// COLORS

$white: #F9F9F9;
$black: #1E252B;
$grey: #ADB0B6;
$yellow: #F7A501;


// SIGNS

$background-color: $black;
$indents: 5px;

// BREAK POINTS
$bp-1200px: 1200px;
$bp-1100px: 1100px;
$bp-992px: 992px;
$bp-768px: 768px;
$bp-480px: 480px;
$bp-320px: 320px;

// MIXINS
@mixin font($fs, $fw, $lh, $color) {
	font-size: $fs;
    font-weight: $fw;
	line-height: $lh;
	color: $color;
  }




